//! **************************************************************************
// Written by: Map J.36 on Thu Apr 11 10:57:02 2013
//! **************************************************************************

SCHEMATIC START;
COMP "D" LOCATE = SITE "H18" LEVEL 1;
COMP "Q" LOCATE = SITE "J14" LEVEL 1;
COMP "Clk" LOCATE = SITE "G18" LEVEL 1;
SCHEMATIC END;
