//! **************************************************************************
// Written by: Map J.36 on Thu Feb 14 10:07:42 2013
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "G18" LEVEL 1;
COMP "B" LOCATE = SITE "H18" LEVEL 1;
COMP "C" LOCATE = SITE "K18" LEVEL 1;
COMP "Y" LOCATE = SITE "J14" LEVEL 1;
SCHEMATIC END;
