//! **************************************************************************
// Written by: Map J.36 on Thu Feb 28 10:01:55 2013
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "G18" LEVEL 1;
COMP "B" LOCATE = SITE "H18" LEVEL 1;
COMP "C" LOCATE = SITE "K18" LEVEL 1;
COMP "F" LOCATE = SITE "J14" LEVEL 1;
SCHEMATIC END;
