//! **************************************************************************
// Written by: Map J.36 on Thu Mar 14 10:20:23 2013
//! **************************************************************************

SCHEMATIC START;
COMP "I" LOCATE = SITE "J14" LEVEL 1;
COMP "U" LOCATE = SITE "G18" LEVEL 1;
COMP "V" LOCATE = SITE "H18" LEVEL 1;
COMP "W" LOCATE = SITE "K18" LEVEL 1;
COMP "X" LOCATE = SITE "K17" LEVEL 1;
COMP "Y" LOCATE = SITE "L14" LEVEL 1;
COMP "Z" LOCATE = SITE "L13" LEVEL 1;
SCHEMATIC END;
