# This file is a general .ucf for Nexys2 rev A board
# To use it in a project:
# - remove or comment the lines corresponding to unused pins
# - rename the used signals according to the project

# Signals Led<7>-Led<4> are assigned to pins which change type from s3e500 to other dies using the same package
# Both versions are provided in this file.
# Keep only the appropriate one, and remove or comment the other one.





# Leds

NET "I"  LOC = "J14" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L14N_1/A3/RHCLK7, Type = RHCLK/DUAL, Sch name = LED0

# Now with VHDL indicies

NET "I"  LOC = "J14" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L14N_1/A3/RHCLK7, Type = RHCLK/DUAL, Sch name = LED0

# Switches

NET "U" LOC = "G18" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IP, Type = INPUT, Sch name = SW0
NET "V" LOC = "H18" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IP/VREF_1, Type = VREF, Sch name = SW1
NET "W" LOC = "K18" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IP, Type = INPUT, Sch name = SW2
NET "X" LOC = "K17" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IP, Type = INPUT, Sch name = SW3
NET "Y" LOC = "L14" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IP, Type = INPUT, Sch name = SW4
NET "Z" LOC = "L13" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IP, Type = INPUT, Sch name = SW


