NET "SW<0>" LOC = "G18" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IP, Type = INPUT, Sch name = SW0
NET "SW<1>" LOC = "H18" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IP/VREF_1, Type = VREF, Sch name = SW1
NET "SW<2>" LOC = "K18" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IP, Type = INPUT, Sch name = SW2
NET "SW<3>" LOC = "K17" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IP, Type = INPUT, Sch name = SW3
NET "SW<4>" LOC = "L14" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IP, Type = INPUT, Sch name = SW4
NET "SW<5>" LOC = "L13" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IP, Type = INPUT, Sch name = SW
NET "SW<6>" LOC = "N17" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IP, Type = INPUT, Sch name = SW6
NET "SW<7>" LOC = "R17" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IP, Type = INPUT, Sch name = SW7NET "Segment_L<0>" LOC = "L18" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L10P_1, Type = I/O, Sch name = CA

NET "Segments<1>" LOC = "F18" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L19P_1, Type = I/O, Sch name = CB
NET "Segments<2>" LOC = "D17" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L23P_1/HDC, Type = DUAL, Sch name = CC
NET "Segments<3>" LOC = "D16" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L23N_1/LDC0, Type = DUAL, Sch name = CD
NET "Segments<4>" LOC = "G14" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L20P_1, Type = I/O, Sch name = CE
NET "Segments<5>" LOC = "J17" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L13P_1/A6/RHCLK4/IRDY1, Type = RHCLK/DUAL, Sch name = CF
NET "Segments<6>" LOC = "H14" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L17P_1, Type = I/O, Sch name = CG
 
NET "anodes<0>" LOC = "F15" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L19N_1, Type = I/O, Sch name = AN0
NET "anodes<1>" LOC = "C18" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L16N_1/A0, Type = DUAL, Sch name = AN1
NET "anodes<2>" LOC = "H17" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L24P_1/LDC1, Type = DUAL, Sch name = AN2
NET "anodes<3>" LOC = "F17" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L21P_1, Type = I/O, Sch name = AN3

NET "clk"   LOC = "B8"; # Bank = 0, Pin name = IP_L13P_0/GCLK8, Type = GCLK, Sch name = GCLK0

NET "carry_in" LOC = "B18" | IOSTANDARD = LVCMOS33;